#mainCarousel {
  padding: 0;
}

#mainCarousel .carousel-indicators {
  bottom: -40px;
}

#mainCarousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-color: #333333;
}

#mainCarousel .carousel-indicators .active {
  background-color: #009fe3;
  border-color: #009fe3;
}
