.contact-container {
  padding: 0 20px;
}

.contact-container h1 {
  margin-bottom: 20px;
}

.contact-container form {
  max-width: 800px;
  margin: 0 auto;
}

.contact-container form input, .contact-container form textarea {
  border: 5px solid #ebebeb;
  border-radius: 0;
  padding: 25px;
  font-family: 'interstatelight', Arial, Serif;
  font-size: 16px;
}

.contact-container form textarea {
  height: 250px;
}
