@font-face {
  font-family: 'interstateregular';
  src: url("../user-fonts/interstate-regular-webfont.woff2") format("woff2"), url("../user-fonts/interstate-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstatelight';
  src: url("../user-fonts/interstate_light-webfont.woff2") format("woff2"), url("../user-fonts/interstate_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstatebold';
  src: url("../user-fonts/interstate_bold-webfont.woff2") format("woff2"), url("../user-fonts/interstate_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0 auto;
  color: #000000;
  font-family: 'interstatelight', Arial, Serif;
}

body h1 {
  font-size: 50px;
  font-family: 'interstatebold', Arial, Serif;
  text-transform: uppercase;
}

body h2, body h3 {
  font-size: 30px;
  font-weight: normal;
  opacity: 0.6;
  padding: 20px 0;
  margin: 20px 0;
}

body p, body h4 {
  font-size: 20px;
}

body h4 {
  font-family: 'interstatebold', Arial, Serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  height: 80px;
}

.header .container {
  padding: 0px;
}

.header .navbar-brand img {
  height: 40px;
}

.header .menu-button, .header .menu-search, .header .menu-link {
  color: #000000;
  border: 0;
  font-size: 18px;
}

.header .menu-button:hover, .header .menu-search:hover, .header .menu-link:hover {
  background-color: transparent;
  text-decoration: none;
}

.header .menu-button:focus, .header .menu-search:focus, .header .menu-link:focus {
  background-color: transparent;
  text-decoration: none;
}

.header .menu-button div, .header .menu-search div, .header .menu-link div {
  display: inline-block;
  vertical-align: middle;
}

.header .menu-button div.icon-bars, .header .menu-search div.icon-bars, .header .menu-link div.icon-bars {
  margin-top: -2px;
}

.header .menu-button div.icon-bars .icon-bar, .header .menu-search div.icon-bars .icon-bar, .header .menu-link div.icon-bars .icon-bar {
  width: 38px;
  height: 4px;
  background-color: #000000;
}

.header .menu-search {
  margin-top: 3px;
  font-size: 25px;
  cursor: pointer;
  left: 7px;
  top: -2px;
}

.header .menu-link {
  margin-top: 10px;
  padding: 0 10px;
  text-align: left;
}

.header .menu-link span {
  opacity: 0.2;
  border-left: 2px solid #000000;
  height: 20px;
  padding-right: 10px;
  display: inline;
}

.header .menu-link a {
  color: #000000;
  cursor: pointer;
}

.header .menu-link a:hover {
  text-decoration: none;
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container, .container-fluid {
  padding: 40px 20px;
  text-align: center;
}

.container-fluid {
  background-color: #ebebeb;
}

.selector {
  border-radius: 50%;
  background: #009fe3;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin: -25px;
}

.selector span {
  color: #ffffff;
  font-size: 30px;
  top: 10px;
  left: 10px;
}

.no-padding {
  padding: 0 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1120px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.search-big {
  font-size: 80px;
  border: 0;
}

.about-container {
  padding-bottom: 80px;
}

.about-container h1, .about-container h2 {
  padding: 10px 0;
  margin: 10px 0;
}

.about-container .line {
  background-image: url("../images/about-line-copy.png");
  width: 100%;
  height: 30px;
  position: absolute;
  background-position: 110px;
  background-size: 78%;
  bottom: -106px;
  z-index: 10;
  background-repeat: no-repeat;
}

.about-container .row.diagram {
  margin-bottom: 20px;
}

.about-container .row.diagram h2 {
  font-family: 'interstatebold', Arial, Serif;
  color: #009fe3;
  opacity: 1;
}

.about-container .row.diagram div {
  font-size: 18px;
  background-color: #ebebeb;
  height: 170px;
  padding-top: 10px;
  border: 1px solid white;
  margin-top: 20px;
}

.about-container .row.diagram div span {
  color: #009fe3;
  font-family: 'interstatebold', Arial, Serif;
  text-transform: uppercase;
}

.about-container .row.diagram div p {
  opacity: 0.6;
}

.services-container h3 {
  color: #009fe3;
  opacity: 1;
  margin-bottom: 0;
  font-family: 'interstatebold', Arial, Serif;
  text-transform: uppercase;
  font-size: 34px;
}

.services-container hr {
  width: 40%;
  margin-top: 0;
  border-top: 3px solid #009fe3;
}

.services-container img {
  max-height: 304px;
  max-width: 545px;
}

.services-container .row.services {
  margin-bottom: 40px;
}

.products-container h1, #searchModal h1 {
  padding: 20px;
}

.products-container .thumbnail, #searchModal .thumbnail {
  width: 257.5px;
  height: 330px;
  vertical-align: top;
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: inherit;
  display: inline-block;
  margin: 15px;
}

.products-container .thumbnail .link, #searchModal .thumbnail .link {
  color: #009fe3;
  cursor: pointer;
}

.products-container .thumbnail:first-child, #searchModal .thumbnail:first-child {
  margin-left: 0;
}

.products-container .thumbnail:last-child, #searchModal .thumbnail:last-child {
  margin-right: 0;
}

.products-container p a.categories, #searchModal p a.categories {
  color: #000000;
  opacity: 0.6;
  padding-right: 20px;
  cursor: pointer;
}

.products-container p a.categories:hover, #searchModal p a.categories:hover {
  text-decoration: none;
}

.products-container p a.categories.active, #searchModal p a.categories.active {
  color: #009fe3;
}

.products-container .product-info, #searchModal .product-info {
  font-size: 18px;
}

.products-container .product-info p, #searchModal .product-info p {
  font-family: 'interstatebold', Arial, Serif;
  text-transform: uppercase;
}

.products-container .product-info table, #searchModal .product-info table {
  width: 100%;
}

.products-container .product-info table tr, #searchModal .product-info table tr {
  background-color: #ebebeb;
  border: 1px solid white;
}

.products-container .product-info table tr td, #searchModal .product-info table tr td {
  padding: 3px 20px;
}

.case-studies-container #case_studies_thumbnails .row {
  display: -ms-flexbox;
  display: flex;
}

.case-studies-container #case_studies_thumbnails img {
  width: 100%;
  height: 100%;
}

.norlux-button {
  margin-top: 20px;
  background-color: white !important;
  border: 2px solid black !important;
  color: black !important;
  padding: 8px 15px !important;
  min-width: 200px !important;
  font-size: 18px !important;
  font-family: 'interstatebold', Arial, Serif !important;
}

.norlux-button.blackout {
  background-color: black !important;
  color: white !important;
  padding: 8px 80px !important;
}

.contact-container .container {
  padding: 0 20px;
}

.contact-container .container h1 {
  margin-bottom: 20px;
}

.contact-container .container form {
  max-width: 800px;
  margin: 0 auto;
}

.contact-container .container form input, .contact-container .container form textarea {
  border: none;
  border-radius: 0;
  padding: 25px;
  font-family: 'interstatelight', Arial, Serif;
  font-size: 16px;
}

.contact-container .container form textarea {
  height: 250px;
}

.footer .store-locations {
  background-color: #000000;
}

.footer .store-locations .store-title {
  color: white;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'interstatebold', Arial, Serif;
}

.footer .store-locations .panel-group .panel {
  margin-bottom: 0;
  text-align: left;
  border: 0;
  border-radius: 0;
}

.footer .store-locations .panel-group .panel .panel-heading {
  color: #000000;
  background-color: #999999;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 6px 5px;
  position: relative;
  border: 2px solid #000000;
}

.footer .store-locations .panel-group .panel .panel-heading .panel-title {
  color: #000000;
  font-size: 18px;
}

.footer .store-locations .panel-group .panel .panel-heading a {
  display: block;
  cursor: pointer;
}

.footer .store-locations .panel-group .panel .panel-heading a:hover {
  text-decoration: none;
}

.footer .store-locations .panel-group .panel .panel-heading span {
  color: white;
}

.footer .store-locations .panel-group .panel .panel-collapse {
  overflow: scroll;
  max-height: 200px;
  border: 2px solid #000000;
}

.footer .store-locations .panel-group .panel .panel-collapse .panel-body {
  color: #000000;
}

.footer .store-locations .panel-group .panel .panel-collapse .panel-body .name {
  line-height: 30px;
  font-family: 'interstatebold', Arial, Serif;
}

.footer .store-locations .panel-group .panel .panel-collapse .panel-body .email, .footer .store-locations .panel-group .panel .panel-collapse .panel-body .phone {
  line-height: 25px;
}
