@font-face {
  font-family: 'interstateregular';
  src: url("../user-fonts/interstate-regular-webfont.woff2") format("woff2"), url("../user-fonts/interstate-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstatelight';
  src: url("../user-fonts/interstate_light-webfont.woff2") format("woff2"), url("../user-fonts/interstate_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstatebold';
  src: url("../user-fonts/interstate_bold-webfont.woff2") format("woff2"), url("../user-fonts/interstate_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0 !important;
  margin: 0 auto;
  color: #000000;
  font-family: 'interstatelight', Arial, Serif;
}

body.modal-open {
  overflow: visible !important;
}

body h1 {
  font-size: 50px;
  font-family: 'interstatebold', Arial, Serif;
  text-transform: uppercase;
}

body h2, body h3 {
  font-size: 30px;
  font-weight: normal;
  opacity: 0.6;
  padding: 20px 0;
  margin: 20px 0;
}

body p, body h4 {
  font-size: 20px;
}

body h4 {
  font-family: 'interstatebold', Arial, Serif;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }
  h2, h3 {
    font-size: 24px !important;
  }
}
