.navbar-default {
  height: 80px;
  padding: 20px 0;
  background-color: white;
  border: 0;
}

.navbar-header {
  float: none;
}

.navbar-left, .navbar-right {
  float: none !important;
}

.navbar-toggle {
  display: block;
  margin: 0;
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar-brand {
  padding: 0 15px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
  margin-top: 7.5px;
}

.navbar-nav > li {
  float: none;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse.in {
  display: block !important;
}

.navbar-toggle .icon-bar {
  width: 40px;
  height: 3px;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

/* FULL SCREEN MODAL STYLES
   -------------------------------------------------- */
.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  color: #333;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  color: #333;
  background: rgba(255, 255, 255, 0.97);
  overflow: auto;
}

.fullscreen .modal-body a {
  font-size: 65px;
  font-family: 'interstatebold', Arial, Serif;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

.fullscreen .modal-body a:hover {
  color: #009fe3;
  text-decoration: none;
}

#productModal.fullscreen hr {
  width: 30%;
  margin-top: 0;
  border-top: 3px solid #000000;
}

#productModal.fullscreen .modal-header {
  border: 0;
}

#productModal.fullscreen .container {
  padding-top: 0;
  padding-bottom: 0;
}

#productModal.fullscreen .product-info {
  text-align: left;
}

#productModal.fullscreen .modal-body img {
  max-height: 400px;
}

#searchModal.fullscreen {
  text-align: left;
}

#searchModal.fullscreen input {
  font-size: 142px;
  font-family: 'interstatebold', Arial, Serif;
  color: #000;
  font-weight: 700;
  width: 100%;
}

#searchModal.fullscreen .results {
  margin-top: 20px;
}

#aboutNorlux.fullscreen {
  text-align: center;
}

#aboutNorlux.fullscreen .modal-header {
  background-image: url("../images/Norlux_Group.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50%;
  color: white;
}

#aboutNorlux.fullscreen .modal-header .close {
  margin-top: -87px;
  opacity: 1;
}

#aboutNorlux.fullscreen .modal-header .close .crisscross {
  color: white;
}

#aboutNorlux.fullscreen .modal-header .close .crisscross:before, #aboutNorlux.fullscreen .modal-header .close .crisscross:after {
  background: #ffffff;
}

.close {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: -35%;
  width: 2em;
  opacity: 1;
  text-align: center;
}

.close .crisscross {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 6px;
}

.close .crisscross:before, .close .crisscross:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 3px;
  border-radius: 2px;
  top: 0;
  background: #999999;
}

.close .crisscross:before {
  transform: rotate(45deg);
  left: -22px;
}

.close .crisscross:after {
  transform: rotate(-45deg);
  right: -23px;
}

@media (max-width: 480px) {
  .fullscreen .modal-body ul {
    padding: 10px 0 0 0;
    overflow: auto;
  }
  .fullscreen .modal-body li {
    padding: 4px 0 4px 0;
  }
  .fullscreen .modal-body a {
    color: #333;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.modal-backdrop, .modal-backdrop.in {
  display: none;
}
