.navbar-default {
  height: 80px;
  padding: 20px 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}

.navbar-header {
  float: none;
}

.navbar-left, .navbar-right {
  float: none !important;
}

.navbar-toggle {
  display: block;
  margin: 0;
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar-brand {
  padding: 0 15px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
  margin-top: 7.5px;
}

.navbar-nav > li {
  float: none;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse.in {
  display: block !important;
}

.navbar-toggle .icon-bar {
  width: 40px;
  height: 3px;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0;
}
