<div class="row">
  <div class="col-xs-12 top-section" btf-markdown ng-include="'markdown/about.md'"></div>


  <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
    <div class="line"></div>
  </div>

  <div class="diagram">
    <h2>Structured to deliver</h2>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <p><span>Your Budget</span></p>
      <p>Clear and concise cost analysis to help tailor a price package that works for you</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <p><span>Design Preference</span></p>
      <p>Extensive product portfolio of innovative lighting solutions</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <p><span>Performance & Efficiency</span></p>
      <p>Quality assured and durable</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <p><span>Delivery</span></p>
      <p>A rigorous delivery process to ensure products are received on-time</p>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <button class="norlux-button pull-right" data-toggle="modal" data-target="#aboutNorlux">More about Norlux</button>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <button class="norlux-button pull-left" onclick="location.href='http://www.norlux.no'">Visit Norlux Group</button>
  </div>

</div>
