<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" btf-markdown ng-include="'markdown/case_studies.md'"></div>
  </div>

  <div class="row">
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <a class="prev glyphicon glyphicon-menu-left"></a>
      <a class="next glyphicon glyphicon-menu-right"></a>
      <button type="button" class="noSelect close" data-dismiss="modal" aria-hidden="true">
        <span class="noSelect crisscross"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <div id="case_studies_thumbnails">
      <div class="col-lg-3 col-sm-3 col-sm-4 col-xs-6 no-padding" ng-repeat="image in caseStudiesImages">
        <a href="{{caseStudiesFiles(image, false)}}">
          <img src="{{caseStudiesFiles(image, true)}}">
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('case_studies_thumbnails').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
      link = target.src ? target.parentNode : target,
      options = {index: link, event: event},
      links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };
</script>
