<h1>Get In Touch</h1>
<form id="contact-form" method="post" action="http://formspree.io/jotismoore@me.com" role="form">
  <input type="hidden" name="_next" value="/" />
  <div class="messages"></div>

  <div class="controls">
    <div class="row">
      <div class="col-md-6 less-padding-right">
        <div class="form-group">
          <input id="form_name" type="text" name="name" class="form-control" placeholder="Name*" required="required" data-error="Name is a required field">
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-md-6 less-padding-left">
        <div class="form-group">
          <input id="form_company" type="text" name="company" class="form-control" placeholder="Company">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 less-padding-right">
        <div class="form-group">
          <input id="form_email" type="email" name="email" class="form-control" placeholder="E-mail Address*" required="required" data-error="Email is a required field">
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-md-6 less-padding-left">
        <div class="form-group">
          <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Contact Number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea id="form_message" name="message" class="form-control" placeholder="Message*" rows="4" required="required" data-error="Message is a required field"></textarea>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-md-12">
        <input type="submit" class="btn norlux-button btn-send" value="Send">
      </div>
    </div>
  </div>
</form>

