<div class="modal fade fullscreen" id="menuModal"  tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="noSelect close" data-dismiss="modal" aria-hidden="true">
          <span class="crisscross"></span>
        </button>
        <ul style="list-style-type:none;margin-top:60px;">
          <li><a scroll-on-click href="#about" class="big">About Norlux UK</a></li>
          <li><a scroll-on-click href="#services" class="big">Services</a></li>
          <li><a scroll-on-click href="#products" class="big">Products</a></li>
          <li><a scroll-on-click href="#case_studies" class="big">Gallery</a></li>
          <li><a scroll-on-click href="#contact" class="big">Contact</a></li>
          <li><a href="https://norluxblog.wordpress.com/" target="_blank" class="big">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-controller="ProductCtrl" class="modal fade fullscreen" id="searchModal"  tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="crisscross"></span>
        </button>
        <div class="container">
          <div class="row text-left">
            <div class="col-md-12">
              <p>Type to search...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input class="search-big" type="text" ng-model="search" value="Search" placeholder="search">
            </div>
          </div>
          <div class="row text-left results">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="product in (search ? (products | filter:search | unique: 'name') : []) track by product.id">
              <div class="thumbnail">
                <div class="product-image">
                  <img ng-click="openProduct(products, product)" ng-src="images/products/{{product.image}}" alt="{{product.name}}">
                </div>
                <div class="caption text-center">
                  <p>{{product.name}}</p>
                  <p class="link" ng-click="openProduct(products, product)">View</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade fullscreen" id="aboutNorlux" tabindex="-1" role="dialog" aria-labelledby="aboutNorlux">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="noSelect close" data-dismiss="modal" aria-hidden="true">
          <span class="noSelect crisscross"></span>
        </button>
        <h1>More About Norlux</h1>
      </div>
      <div class="modal-body">
        <div class="col-xs-10 col-xs-offset-1" btf-markdown ng-include="'markdown/about_norlux.md'"></div>
      </div>
    </div>
  </div>
</div>
