<h1>PRODUCTS</h1>

<div class="row">
  <p><a class="categories" ng-class="{'active': productFilter == product.category}" ng-repeat="product in products | unique:'category'" ng-click="filterCategory(product.category)">{{product.category}}</a></p>
</div>

<div class="row text-left">
  <div class="thumbnail" ng-repeat="product in products | filter:productFilter">
    <img src="images/{{product.image}}.png" alt="{{product.name}}">
    <div class="caption text-center">
      <p>{{product.name}}</p>
      <p class="link" ng-click="productModal.open(product)">View</p>
    </div>
  </div>
</div>

<view-product-modal model="productModal"></view-product-modal>
