<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" btf-markdown ng-include="'markdown/services.md'"></div>
  </div>
  <div class="row services">
    <div class="col-xs-6">
      <div class="row">
        <img class="col-xs-12" src="images/Design.png" />
      </div>
      <div class="row">
        <div class="col-xs-12" btf-markdown ng-include="'markdown/services-design.md'"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <img class="col-xs-12" src="images/Manufacture.png" />
      </div>
      <div class="row">
        <div class="col-xs-12" btf-markdown ng-include="'markdown/services-manufacture.md'"></div>
      </div>
    </div>
  </div>
  <div class="row services">
    <div class="col-xs-6">
      <div class="row">
        <img class="col-xs-12" src="images/Support&Warranty.png" />
      </div>
      <div class="row">
        <div class="col-xs-12" btf-markdown ng-include="'markdown/services-support-warranty.md'"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <img class="col-xs-12" src="images/Delivery.png" />
      </div>
      <div class="row">
        <div class="col-xs-12" btf-markdown ng-include="'markdown/services-delivery.md'"></div>
      </div>
    </div>
  </div>
</div>

