<div class="container">
  <div class="col-xs-12" btf-markdown ng-include="'markdown/services.md'"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-product.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-left" style="background-image: url('images/services/large/product.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-left" style="background-image: url('images/services/small/product.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-product.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-design.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-design.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-right" style="background-image: url('images/services/large/design.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-right" style="background-image: url('images/services/small/design.png');"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-concept.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-left" style="background-image: url('images/services/large/concept.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-left" style="background-image: url('images/services/small/concept.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-concept.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-focus.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-focus.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-right" style="background-image: url('images/services/large/focus.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-right" style="background-image: url('images/services/small/focus.png');"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-guarantee.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-left" style="background-image: url('images/services/large/guarantee.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-left" style="background-image: url('images/services/small/guarantee.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-guarantee.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-stockhold.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-stockhold.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-right" style="background-image: url('images/services/large/stock.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-right" style="background-image: url('images/services/small/stock.png');"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-warranty.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-left" style="background-image: url('images/services/large/warranty.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-left" style="background-image: url('images/services/small/warranty.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-warranty.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-support.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-support.md'"></div>
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs services-image-right" style="background-image: url('images/services/large/support.png');"></div>
  <div class="col-sm-6 col-xs-12 hidden-md hidden-lg services-image-right" style="background-image: url('images/services/small/support.png');"></div>
</div>

