<div class="container">
  <div class="col-xs-12" btf-markdown ng-include="'markdown/services.md'"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-product.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-left" style="background-image: url('images/services/products.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-product.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-bespoke.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-bespoke.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-right" style="background-image: url('images/services/bespoke.png');"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-design.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-left" style="background-image: url('images/services/design.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-design.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-guarantee.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-guarantee.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-right" style="background-image: url('images/services/bespoke.png');"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-stockhold.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-left" style="background-image: url('images/services/stockhold.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-stockhold.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-support.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-support.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-right" style="background-image: url('images/services/support.png');"></div>
</div>
<div class="row services-left">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-warranty.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-left" style="background-image: url('images/services/warranty.png');"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInRight services-text-right" btf-markdown ng-include="'markdown/services-warranty.md'"></div>
</div>
<div class="row services-right">
  <div class="hidden-sm visible-xs services-text-right" btf-markdown ng-include="'markdown/services-deliver.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs wow bounceInLeft services-text-left" btf-markdown ng-include="'markdown/services-deliver.md'"></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 services-image-right" style="background-image: url('images/services/bespoke.png');"></div>
</div>

