<div id="productModal" class="modal fade fullscreen" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="noSelect close" data-dismiss="modal" aria-hidden="true">
            <span class="crisscross"></span>
          </button>
        </div>
        <div class="container">
          <h1 class="modal-title">{{model.product.name}}</h1>
          <hr />
          <div class="model-description">
            <h2>{{model.product.description}}</h2>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
                <img src="images/products/{{model.product.image}}" />
              </div>
              <div class="col-xs-6 product-info">
                  <p>Product Information</p>
                  <table>
                    <tr ng-repeat="(key, value) in model.product" ng-if="value != '' && key != 'description' && key != 'name' && key != 'image' && key != 'pdf'">
                      <td class="text-capitalize">
                        {{key.replace('_', ' ')}}
                      </td>
                      <td>
                        {{value}}
                      </td>
                    </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button class="norlux-button blackout">Enquire</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="norlux-button" role="button" href="pdfs/{{model.product.pdf}}" target="_blank">Technical Specification</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
