<div class="loader"></div>
<carousel interval="0">
  <button type="button" class="noSelect close" ng-click="closeProduct()">
    <span class="crisscross"></span>
  </button>
  <slide ng-repeat="product in products track by product.id" active="product.active">
    <div class="container">
      <h2 class="modal-title">{{product.name}}</h2>
      <hr />
      <!--<div class="model-description">-->
        <!--<p ng-bind-html="product.description.toString()|trustAsHtml"></p>-->
      <!--</div>-->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img ng-src="images/products/{{product.image}}?v=20170131" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product-info">
              <p>Product Information</p>
              <table>
                <tr ng-repeat="(key, value) in product" ng-if="value != '' && key != 'id' && key != 'name' && key != 'image' && key != 'pdf' && key != 'active'">
                  <td class="text-capitalize product-heading">
                    {{key.replace('_', ' ')}}
                  </td>
                  <td ng-bind-html="value.toString()|trustAsHtml" class="product-detail"></td>
                </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="norlux-button top">Enquire</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a class="norlux-button bottom" role="button" href="pdfs/{{product.pdf}}" target="_blank">Technical Specification</a>
          </div>
        </div>
      </div>
    </div>
  </slide>
</carousel>
